@font-face {
  font-family: 'Rubik Regular';
  src: url('/fonts/Rubik-Regular.ttf.woff') format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik Bold';
  src: url('/fonts/Rubik-Bold.ttf.woff') format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hind Bold';
  src: url('/fonts/Hind-Bold.ttf.woff') format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
