@import "fonts.css";
@import "base.css";

body {
  margin-inline: auto;
  width: fit-content;
  min-height: 700px;
  height: 100vh;
  max-height: 1200px;
  display: flex;
  align-items: center;
}

.nav-link:not(:first-of-type) {
  margin-left: 50px;
}
