@import "base.css";
@import "fonts.css";
@import "animations.css";

/* task4 */

body {
  display: flex;
  min-height: 700px;
  height: 100vh;
  max-height: 1200px;
  align-items: center;
  justify-content: center;
}

.banner {
  width: 300px;
  height: 600px;
  position: relative;
  box-sizing: border-box;
  border: 1px solid white;
  overflow: hidden;
  transition: .5s all;
}

.foreground-element {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 4;
  background: white;
  transition: .3s all;
}

.revealed-element {
  width: 100%;
  height: 100%;
  background-color: #fcda16;
  transform: translateY(100%);
}

.slider-item {
  transition: 1s ease-in-out all;
  overflow: hidden;
}

.slider-item--active {
  transform: translateX(-100%);
  transition: all .3s;
}

.offer-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 36px 24px;
  box-sizing: border-box;
}

.background-img {
  position: absolute;
  z-index: 1;
}

.img-container {
  height: 100%;
}

.logo {
  display: flex;
  height: fit-content;
  width: fit-content;
  position: relative;
  z-index: 5;
  transform: translate(-200px, calc(300px - 50%));
}

.img-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.offer-content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
}

.info-container {
  overflow: hidden;
}

.info-container .country {
  padding: 3px 6px 0 12px;
  width: fit-content;
  font-size: 15px;
  background-color: #ffffff;
  font-family: "Rubik Regular", sans-serif;
  transform: translateX(-110%);
}

.country-city-subcontainer {
  position: absolute;
  width: 100%;
}

.country {
  overflow: hidden;
}

.country-name {
  display: block;
  transform: translateY(115%);
}

.country-city-container {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  height: 200px;
}

.city-name {
  display: block;
  transform: translateY(115%);
  word-wrap: break-word;
}

.info-container .city {
  padding: 6px 15px 7px;
  font-size: 45px;
  font-family: "Rubik Regular", sans-serif;
  transform: translateX(-100%);
  overflow: hidden;
}

.info-container + .prices {
  margin-top: 24px;
  color: #fcda16;
  margin-left: 55px;
}

.prices {
  overflow: hidden;
  position: relative;
  height: 40px;
}

.prices .from {
  font-size: 15px;
  font-family: "Rubik Regular", sans-serif;
}

.prices .price {
  font-family: "Rubik Bold", sans-serif;
  font-size: 25px;
}

.price-container {
  position: absolute;
  transform: translateY(100%);
  transition: .4s all;
}

.flybee-bg {
  background-color: #fcda16;
}

.btn-container {
  position: relative;
}

.line {
  height: 3px;
  width: 0;
  background-color: #fcda16;
  display: flex;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0px, -50%);
  z-index: 1;
  transition: all .2s 2.5s;
}

.btn-cta {
  padding: 16px 30px 17px;
  background-color: white;
  position: relative;
  margin-left: 57px;
  font-family: "Rubik Bold", sans-serif;
  font-size: 15px;
  border: none;
  transform: translateX(200%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-cta .img-container {
  display: flex;
  width: 6px;
  height: 12px;
  margin-left: 10px;
}

.squares-container {
  display: flex;
  margin-top: 40px;
  transition: .3s all;
  transform: translateY(50px);
}

.square {
  background-color: white;
  width: 10px;
  height: 10px;
  transition: 2s all;
}

.square--active {
  background-color: #fcda16;
}

.square:not(:first-of-type) {
  margin-left: 10px;
}
